/* Set body background and font color */
body, html {
  background-color: #121212;
  color: #ffffff;
  margin: 0;
  font-family: "SUSE", sans-serif;
  font-optical-sizing: auto;
  font-weight:100;
  font-style: normal;
}

.App {
  text-align: center;
  background-color: #121212; /* Set background for app */
  color: #ffffff; /* Set font color for app */
}

h1, h2, h3, h4, h5, h6 {
  color: #ffffff; /* Headings should use the font color */
}


.splash-screen {
  font-size: 2rem;
  font-weight: bold;
  color: white;
}
/* Chart container styling */
.chart-container {
  background-color: #2e2e2e;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.2);
}
